
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');
@font-face {
    font-family: "Gobold Uplow";
    src: url("fonts/gobold/Gobold Uplow.otf");
}

body, html {
    
    /* font-family: 'Quicksand', sans-serif; */
    background-color: #fafafb;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Quicksand', sans-serif; */
    font-weight: normal;
}


a, 
a:hover, 
a:focus {
    color: inherit;
    text-decoration: none  !important;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.drop-one {
    animation-delay: .5s;
}

.drop-two {
    animation-delay: 1s;
}

.drop-three {
    animation-delay: 2s;
}

.drop-four {
    animation-delay: 3s;
}

.navigate-sec.active {
    display: block;
}

.login-sec.active {
    display: block;
}






/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media screen and (max-width: 991px) {

.login-sec {
    text-align: center;
    right: 100px; 
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
    display: none;
}

.navigate-sec {
    text-align: center;
    padding-top: 4px;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: none;
}

}
@media screen and (min-width: 1366px) {



}
/* styles at 399px and below*/ 
@media all and (max-width: 24.9375rem) {
     
}

/*style at 767px and below*/
@media all and (max-width: 767px) {
   
}

/*style at 999px and below*/
@media screen and (max-width: 62.4375rem) {

  
}
/* @media screen and (min-width: 25rem) */
/*style at 400px and above */
@media screen and (max-width: 575px){
    #header {
    position: absolute;
    background: transparent;
    width: 100%;
    padding: 45px 30px 45px 30px;
}

.header-inner {
    padding: 20px 0;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: header-anim 1s ease-in-out;
    animation: header-anim 1s ease-in-out;
}

.logoWrap {
    position: absolute;
    top: 52px;
    left: 4px;
}

.mobile-view-sec {
    position: absolute;
    right: 16px;
    text-align: right;
    color: #000;
    top: 60px;
    cursor: pointer;
    font-size: 19px;
}

.main-intro {
    font-family: 'Gobold Uplow';
    font-size: 74px;
    color: #54575f;
}

.sub-intro {
    font-family: Gobold Uplow;
    font-size: 18px;
    color: #54575f;
    margin-left: 3px;
    letter-spacing: -1px;
    word-spacing: 2px;
}

li {
    display: block;
    margin-right: 40px;
} 

.header-wrap {
    background-image: url("../bg-img/bg-img-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 42% 0px;
    display: flex;
    background-attachment: fixed!important;
    height: 100%;
}

.header-content {
    position: absolute;
    top: 187px;
    left: 10px;
}


.btn-decorate {
    border: 1px solid #eee;
    width: 115px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    padding: 7px;
    cursor: pointer;
}

.btn-stripped-decorate {
    width: 98px;
    height: 38px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 11px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    background: repeating-linear-gradient(-36deg , #ff6530, #ff6530 14px, #fb490b -4px, #fb490b 18px );
    box-shadow: 0px 7px 20px 1px #ff6530c4, 0px 0px 0px 0px rgba(0,0,0,.2);
    color: white;   
}

.circle-play {
    position: absolute;
    top: 13px;
    right: 14px;
    font-size: 9px;
    color: #fb490b;
}

.circle-play-wrap {
    position: relative;
    top: 20px;
    height: 42px;
    border: 2px solid #eee;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;

}

.intro-play {
    position: relative;
    top: -9px;
    right: -57px;
    font-size: 11px;
    font-weight: bold;
    color: #6c757ddb;
}
 
    
}

/*style at 599px/36rem and above */
@media (min-width: 576px) {
   
#header {
    position: absolute;
    background: transparent;
    width: 100%;
    padding: 45px 30px 45px 30px;
}

.header-inner {
    padding: 20px 0;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: header-anim 1s ease-in-out;
    animation: header-anim 1s ease-in-out;
}

.logoWrap {
    position: absolute;
    top: 52px;
    left: 15px;
}

.mobile-view-sec {
    position: absolute;
    right: 26px;
    text-align: right;
    color: #000;
    top: 60px;
    cursor: pointer;
    font-size: 19px;
}

.main-intro {
    font-family: 'Gobold Uplow';
    font-size: 74px;
    color: #54575f;
}

.sub-intro {
    font-family: Gobold Uplow;
    font-size: 18px;
    color: #54575f;
    margin-left: 3px;
    letter-spacing: -1px;
    word-spacing: 2px;
}


li {
    display: block;
    margin-right: 40px;
} 

.header-wrap {
    background-image: url("../bg-img/bg-img-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 42% 0px;
    display: flex;
    background-attachment: fixed!important;
    height: 100%;
}

.header-content {
    position: absolute;
    top: 168px;
    left: 20px;
}


.btn-decorate {
    border: 1px solid #eee;
    width: 115px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    padding: 7px;
    cursor: pointer;
}

.btn-stripped-decorate {
    width: 98px;
    height: 38px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 11px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    background: repeating-linear-gradient(-36deg , #ff6530, #ff6530 14px, #fb490b -4px, #fb490b 18px );
    box-shadow: 0px 7px 20px 1px #ff6530c4, 0px 0px 0px 0px rgba(0,0,0,.2);
    color: white;   
}

.circle-play {
    position: absolute;
    top: 13px;
    right: 14px;
    font-size: 9px;
    color: #fb490b;
}

.circle-play-wrap {
    position: relative;
    top: -47px;
    right: -126px;
    height: 42px;
    border: 2px solid #eee;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
}

.intro-play {
    position: relative;
    top: -78px;
    right: -183px;
    font-size: 12px;
    font-weight: bold;
    color: #6c757ddb;
}

}

/*style at 768px/ 48rem and above*/
@media (min-width: 768px)  {

#header {
    position: absolute;
    background: transparent;
    width: 100%;
    padding: 45px 30px 45px 30px;
}

.header-inner {
    padding: 20px 0;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: header-anim 1s ease-in-out;
    animation: header-anim 1s ease-in-out;
}

.logoWrap {
    width: 295px;
    position: absolute;
    top: 52px;
    left: 50px;
}

.mobile-view-sec {
    position: absolute;
    right: 42px;
    text-align: right;
    color: #000;
    top: 60px;
    cursor: pointer;
    font-size: 19px;
}

.main-intro {
    font-family: 'Gobold Uplow';
    font-size: 87px;
    color: #54575f;
}

.sub-intro {
    font-family: Gobold Uplow;
    font-size: 24px;
    color: #54575f;
    margin-left: 3px;
    letter-spacing: -1px;
    word-spacing: 2px;
}


li {
    display: block;
    margin-right: 40px;
} 

.header-wrap {
    background-image: url("../bg-img/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 42% 0px;
    display: flex;
    background-attachment: fixed!important;
    height: 100%;
}

.header-content {
    position: absolute;
    top: 168px;
    left: 54px;
}


.btn-decorate {
    border: 1px solid #eee;
    width: 140px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    padding: 7px;
    cursor: pointer;
}

.btn-stripped-decorate {
    width: 124px;
    height: 46px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 13px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background: repeating-linear-gradient(-36deg , #ff6530, #ff6530 14px, #fb490b -4px, #fb490b 18px );
    box-shadow: 0px 7px 20px 1px #ff6530c4, 0px 0px 0px 0px rgba(0,0,0,.2);
    color: white;
}

.circle-play {
    position: absolute;
    top: 15px;
    right: 16px;
    font-size: 9px;
    color: #fb490b;
}

.circle-play-wrap {
    position: relative;
    top: -55px;
    right: -166px;
    height: 46px;
    border: 2px solid #eee;
    width: 46px;
    border-radius: 50%;
    cursor: pointer;
}

.intro-play {
    position: relative;
    top: -87px;
    right: -230px;
    font-size: 12px;
    font-weight: bold;
    color: #6c757ddb;
}

   

}

/*style at 992px/ 62rem and above*/
@media (min-width: 992px) {

#header {
    position: absolute;
    background: transparent;
    width: 100%;
    padding: 45px 30px 45px 30px;
}

.header-inner {
    padding: 20px 0;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: header-anim 1s ease-in-out;
    animation: header-anim 1s ease-in-out;
}

.logoWrap {
    width: 295px;
    position: absolute;
    top: 52px;
    left: 93px;
}

.login-sec {
    position: absolute;
    width: 331px;
    right: 100px;
    text-align: right;
    color: #000;
    top: 70px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
}

.mobile-view-sec {
    display: none;
}

.navigate-sec {
    text-align: center;
    padding-top: 4px;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.main-intro {
    font-family: 'Gobold Uplow';
    font-size: 100px;
    color: #54575f;
}

.sub-intro {
    font-family: Gobold Uplow;
    font-size: 26px;
    color: #54575f;
    margin-left: 3px;
    letter-spacing: -1px;
    word-spacing: 2px;
}


li {
    display: inline;
    margin-right: 40px;
} 

.header-wrap {
    background-image: url("../bg-img/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 42% 0px;
    display: flex;
    background-attachment: fixed!important;
    height: 100%;
}

.header-content {
    position: absolute; 
    top: 225px; 
    left: 98px;
}


.btn-decorate {
    border: 1px solid #eee;
    width: 168px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    padding: 7px;
    cursor: pointer;
}

.btn-stripped-decorate {
    width: 152px;
    height: 47px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 13px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    background: repeating-linear-gradient(-36deg , #ff6530, #ff6530 14px, #fb490b -4px, #fb490b 18px );
    box-shadow: 0px 7px 20px 1px #ff6530c4, 0px 0px 0px 0px rgba(0,0,0,.2);
    color: white;
}

.circle-play {
    position: absolute;
    top: 15px;
    right: 16px;
    font-size: 10px;
    color: #fb490b;
}

.circle-play-wrap {
    position: relative;
    top: -55px;
    right: -202px;
    height: 46px;
    border: 2px solid #eee;
    width: 46px;
    border-radius: 50%;
    cursor: pointer;
}

.intro-play {
    position: relative;
    top: -87px;
    right: -260px;
    font-size: 14px;
    font-weight: bold;
    color: #6c757ddb
}

     
   
}
/* 72rem  and above*/
@media  all  and (min-width: 1200px) {
  #header {
    position: absolute;
    background: transparent;
    width: 100%;
    padding: 45px 30px 45px 30px;
}

.header-inner {
    padding: 20px 0;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: header-anim 1s ease-in-out;
    animation: header-anim 1s ease-in-out;
}

.logoWrap {
    width: 295px;
    position: absolute;
    top: 52px;
    left: 197px;
}

.login-sec {
    position: absolute;
    width: 331px;
    right: 203px;
    text-align: right;
    color: #000;
    top: 68px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Questrial', sans-serif;
}

.navigate-sec {
    text-align: center;
    padding-top: 4px;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.mobile-view-sec {
    display: none;
}

.main-intro {
    font-family: 'Gobold Uplow';
    font-size: 100px;
    color: #54575f;
}

.sub-intro {
    font-family: Gobold Uplow;
    font-size: 26px;
    color: #54575f;
    margin-left: 3px;
    letter-spacing: -1px;
    word-spacing: 2px;
}

li {
    display: inline;
    margin-right: 40px;
} 

.header-wrap {
    background-image: url("../bg-img/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: flex;
    background-attachment: fixed!important;
    height: 100%;
}

.header-content {
    position: absolute; 
    top: 225px; 
    left: 200px;
}

.btn-decorate {
    border: 1px solid #eee;
    width: 168px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
    padding: 7px;
    cursor: pointer;
}

.btn-stripped-decorate {
    width: 152px;
    height: 47px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    padding: 13px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    background: repeating-linear-gradient(-36deg , #ff6530, #ff6530 14px, #fb490b -4px, #fb490b 18px );
    box-shadow: 0px 7px 20px 1px #ff6530c4, 0px 0px 0px 0px rgba(0,0,0,.2);
    color: white;
    font-family: 'Roboto', sans-serif;
}

.circle-play {
    position: absolute;
    top: 15px;
    right: 16px;
    font-size: 10px;
    color: #fb490b;
}

.circle-play-wrap {
    position: relative;
    top: -55px;
    right: -202px;
    height: 46px;
    border: 2px solid #eee;
    width: 46px;
    border-radius: 50%;
    cursor: pointer;
}

.intro-play {
    position: relative;
    top: -87px;
    right: -260px;
    font-size: 14px;
    font-weight: bold;
    color: #6c757ddb
}

.content-passion {
    padding-top: 70px;
    margin: 40px;
}


.frame-view {
    height: 429px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 28px;
    background-color: #fff;
    margin-left: 80px;
    margin-bottom: 16px;
    padding: 8px;
    box-shadow: -3px 16px 20px 20px #eaeaec80, 0px 0px 0px 0px rgba(0, 0, 0, 0.26);
}

.frame-view::after {
    background-color: #eee0;
    border-left: 134px solid #fbb122;
    border-right: 0px solid #0000001f;
    border-top: 114px solid #0062cc00;
    content: '';
    position: absolute;
    top: 346px;
    left: 42px;
    z-index: -1;
}

.frame-view::before {
    border-left: 264px solid #faf6f4;
    border-right: 0px solid #0000001f;
    border-top: 250px solid #0062cc00;
    content: '';
    position: absolute;
    top: -33px;
    left: 395px;
    z-index: -1;
    transform: rotate(180deg);
   
}

.img-frame {
    width: 525px;
    height: 413px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 28px;
}

.content-description {
    margin-left: 33px;
    margin-top: 16px;
    padding-top: 100px;
}

.c-text {
    font-size: 38px;
    font-weight: bold;
    color: #3c3d45;
    font-family: 'Roboto', sans-serif;
}

.c-sub-text {
    font-size: 14px;
    color: #b8b9bf;
    margin-top: 19px;
    margin-bottom: 23px;
    font-family: 'Roboto', sans-serif;
}


}


